@font-face {
	font-family: 'SegoePrint';
	src: url('../fonts/SegoePrint.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoePrint.woff') format('woff'),
			url('../fonts/SegoePrint.ttf')  format('truetype'),
			url('../fonts/SegoePrint.svg#SegoePrint') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,
.pure-g [class *= "pure-u"] {
	font-family: "SegoePrint", sans-serif;
}

.clearfix {
	clear: both;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.title {
	text-align: center;
}

.pure-g {
	letter-spacing: normal;
}

.pull-right {
	float: right;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

.error {
	text-align: center;
	color: #ff0000;
	font-weight: bold;
}

.buttons-uploads {
	text-align: center;
	margin: 20px auto;
}

.buttons-uploads a {
	padding: 10px 25px;
	background: #b94a48;
	color: #fff;
	text-decoration: none;
}

.buttons-uploads a:hover {
	background: #884949;
}

.page_header, footer {
	background: #f09433;
	background: linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -o-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -ms-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -moz-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.page_header .pure-menu-link {
	color: #fff;
	height: 64px;
	line-height: 64px;
}

.page_header .pure-menu-active > .pure-menu-link,
.page_header .pure-menu-link:hover,
.page_header .pure-menu-link:focus {
	background: linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.sidebar .login {
	text-align: center;
}

.sidebar .login input {
	margin: 0.25em auto;
}

.likes {
	width: 32px;
	height: 32px;
	cursor: pointer;
	float: left;
	margin: 10px 0;
}

.likes.like {
	background: url(/public/img/like.png) no-repeat center center;
}

.likes.like:hover {
	background: url(/public/img/dislike.png) no-repeat center center;
}

.likes.dislike {
	background: url(/public/img/dislike.png) no-repeat center center;
}

.likes.dislike:hover {
	background: url(/public/img/like.png) no-repeat center center;
}

.count_l {
	margin: 5px 10px;
	font-size: 20px;
	display: block;
	float: left;
}

canvas#canvas {
	display: none;
}

.gallery {
	width: 750px;
	margin: 0 auto;
}

.gallery .image {
	padding: 15px;
}

.gallery .image img {
	width: 100%;
}

.comments .comment {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 0 75px 0 25px;
	margin: 5px auto;
	position: relative;
}

.comments .comment a {
	display: block;
	margin-top: 1em;
	text-decoration: none;
	color: #e6683c;
}

.comments .comment a:hover {
	color: #bc1888;
}

.comments .comment p {
	margin-top: 0;
}

.content_likes {
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.pagination {
	text-align: center;
}

.pagination span {
	color: #555;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 5px 10px
}

.pagination a {
	color: #e6683c;
	text-decoration: none;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 5px 10px;
}

.pagination a:hover {
	color: #bc1888;
}

footer {
	margin-top: 25px;
	padding: 1px 0;
	color: #fff;
}

footer p {
	text-align: center;
}
