@font-face {
	font-family: 'SegoePrint';
	src: url('../fonts/SegoePrint.eot?#iefix') format('embedded-opentype'),
			url('../fonts/SegoePrint.woff') format('woff'),
			url('../fonts/SegoePrint.ttf')  format('truetype'),
			url('../fonts/SegoePrint.svg#SegoePrint') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,
.pure-g [class *= "pure-u"] {
	font-family: "SegoePrint", sans-serif;
}

a {
	color: #e6683c;
	text-decoration: none;
}

a:hover, a:active {
	color: #bc1888;
	text-decoration: none;
}

.clearfix {
	clear: both;
}

.avatar {
	width: 48px;
	border-radius: 50%;
}

.title {
	text-align: center;
}

.pure-g {
	letter-spacing: normal;
}

.pull-right {
	float: right;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

.error {
	text-align: center;
	color: #ff0000;
	font-weight: bold;
}

.buttons-uploads {
	text-align: center;
	margin: 20px auto;
}

.buttons-uploads a {
	padding: 10px 25px;
	background: #b94a48;
	color: #fff;
	text-decoration: none;
}

.buttons-uploads a:hover {
	background: #884949;
}

.page_header, footer {
	background: #f09433;
	background: linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -o-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -ms-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -moz-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.page_header .pure-menu-link {
	color: #fff;
	line-height: 64px;
}

.page_header .pure-menu-active > .pure-menu-link,
.page_header .pure-menu-link:hover,
.page_header .pure-menu-link:focus {
	background: linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.sidebar .login {
	text-align: center;
}

.sidebar .login input {
	margin: 0.25em auto;
}

.likes {
	width: 32px;
	height: 32px;
	cursor: pointer;
	float: left;
	margin: 10px 0;
}

.likes.like {
	background: url(/public/img/like.png) no-repeat center center;
}

.likes.like:hover {
	background: url(/public/img/dislike.png) no-repeat center center;
}

.likes.dislike {
	background: url(/public/img/dislike.png) no-repeat center center;
}

.likes.dislike:hover {
	background: url(/public/img/like.png) no-repeat center center;
}

.count_l {
	margin: 5px 10px;
	font-size: 20px;
	display: block;
	float: left;
}

canvas#canvas {
	display: none;
}

.gallery {
	margin: 0 auto;
}

.gallery .name {
	padding: 5px 15px 0;
}

.gallery .image {
	padding: 15px;
	position: relative;
}

.gallery .image img {
	width: 100%;
}

.comments .comment {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 0 75px 0 25px;
	margin: 5px auto;
	position: relative;
}

.comments .comment a {
	display: block;
	margin-top: 1em;
	text-decoration: none;
	color: #e6683c;
}

.comments .comment a:hover {
	color: #bc1888;
}

.comments .comment p {
	margin-top: 0;
	word-wrap: break-word;
}

.content_likes {
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.pagination {
	text-align: center;
}

.pagination span {
	color: #555;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 5px 10px
}

.pagination a {
	color: #e6683c;
	text-decoration: none;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 5px 10px;
}

.pagination a:hover {
	color: #bc1888;
}

.all_comments {
	display: block;
	margin: 10px auto;
}

.gallery .user_link .avatar {
	width: 32px;
}

.user_link span {
	line-height: 32px;
	display: table-cell;
	vertical-align: middle;
}

.del_comment {
	position: absolute;
	margin-top: 0 !important;
	padding: 5px;
	top: 0;
	right: 0;
}

.title_ava {
	width: 128px;
	display: block;
	margin: 10px auto 0;
}

.del_img {
	padding: 20px;
}

#camera_wrap {
	position: relative;
}

#filter_section {
	margin: 5px;
}

#photo_section {
	margin: 5px;
}

#player {
	width: 100%;
	height: 48vmin;
	margin-top: 20px;
	background-color: grey;
	border-radius: 7px;
	transform: scaleX(-1);
}

#target {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 48vmin;
	background-color: grey;
	border-radius: 7px;
	margin-top: 20px;
}

#downloaded_img {
	width: 100%;
	height: 48vmin;
	background-color: grey;
	border-radius: 7px;
	margin-top: 20px;
}

#target p {
	font-size: 18px;
	font-weight: 600;
	color: #c7c7c7;
}

#previev_section {
	width: 90%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.previev_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 32vmin;
	height: 24vmin;
	background-color: grey;
	border-radius: 5px;
}

.previev_box p {
	font-size: 18px;
	font-weight: 600;
	color: #c7c7c7;
}

#previev_img {
	width: 32vmin;
	height: 24vmin;
	border-radius: 5px;
}

#overlay {
	width: 100%;
	height: 48vmin;
	position: absolute;
	margin-top: 20px;
	z-index: 1;
	border-radius: 10px;
}

#canvas {
	display: none;
}


#previev_section button {
	margin-top: 10px;
	width: 120px;
	height: 50px;
	font: 20px sans-serif;
	color: #101010;
	border-radius: 5px;
	align-self: center;
}

#previev_btn {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}

#filter_section {
	padding: 10px;
}

#filter_section img {
	width: 16vmin;
	height: 12vmin;
	padding: 5px;
	cursor: pointer;
}

.selected_filter {
	box-shadow: 0 0 10px #65a061fa;
}

.none {
	display: none !important;
}

.disabled {
	opacity: 0.5;
}

.pure-menu-heading {
	padding: .25em 1em;
}

.custom-menu-3 {
	text-align: right;
}

.custom-toggle {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.custom-toggle .bar {
	background-color: #777;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: 18px;
	right: 7px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.custom-toggle .bar:first-child {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}

.custom-toggle.x .bar {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
	.custom-menu-3 {
		text-align: left;
	}

	.custom-toggle {
		display: block;
	}

	.custom-can-transform {
		display: none;
	}

	.open .custom-can-transform {
		display: block;
	}
}

/*@media ()*/

footer {
	margin-top: 25px;
	padding: 1px 0;
	color: #fff;
}

footer p {
	text-align: center;
}

footer a {
	color: #ff0;
}

footer a:hover {
	color: #fff;
}
