body {
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.title {
	text-align: center;
}

.pure-g {
	letter-spacing: normal;
}

.pull-right {
	float: right;
}

.page_header, footer {
	background: #f09433;
	background: linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -o-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -ms-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -moz-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.page_header .pure-menu-link {
	color: #fff;
	height: 64px;
	line-height: 64px;
}

.page_header .pure-menu-active > .pure-menu-link,
.page_header .pure-menu-link:hover,
.page_header .pure-menu-link:focus {
	background: linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.sidebar .login {
	text-align: center;
}

.sidebar .login input {
	margin: 0.25em auto;
}

.likes {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.likes.like {
	background: url(/public/img/like.png) no-repeat center center;
}

.likes.like:hover {
	background: url(/public/img/dislike.png) no-repeat center center;
}

.likes.dislike {
	background: url(/public/img/dislike.png) no-repeat center center;
}

.likes.dislike:hover {
	background: url(/public/img/like.png) no-repeat center center;
}

canvas#canvas {
	display: none;
}

.gallery {
	width: 750px;
	margin: 0 auto;
}

.gallery .image {
	padding: 15px;
}

.gallery .image img {
	width: 100%;
}

footer {
	margin-top: 25px;
	padding: 1px 0;
	color: #fff;
}

footer p {
	text-align: center;
}
